@media (max-width: 85.37em) { /* Monitores NETBOOK */
    .grid-container {
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    }

    .grid-container button {
        font-size: 1.4rem;    
    }
}

@media (max-width: 80em) { /* Monitores HD 12 */
    .grid-container {
        display: grid;
        justify-content: center;
        margin: 5vh 0vh 4vh 0vh;
        align-content: center;
        min-height: 80vh;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: minmax(120px, auto) repeat(5, 70px);
    }

    .grid-container button {
        font-size: 1.3rem;    
    }

    .btn-switch button {
        max-width: 300px;
        width: 15%;
        background-color: #D6F49D;
        color: #07171d;
    }


}

@media (max-width: 20em) {
    .grid-container {
        margin: 0vh 0vh 4vh 0vh;
        min-height: 80vh;
        grid-template-columns: repeat(4, 45px);
        grid-template-rows: minmax(120px, auto) repeat(5, 45px);
    }

    .grid-container > .output > .previous-operand {
        color: #FB4D3D;
        font-size: rem;
    } 

    .grid-container .current-operand {
        color: #edffcc;
        font-size: 1.5rem;
    }

    .grid-container button {
        font-size: 1rem;    
    }

    .btn-switch {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .btn-switch button {
        max-width: 300px;
        width: 50%;
        cursor: pointer;
        border: none;
        font-size: .7rem;
        border-radius: 20px;
        background-color: #D6F49D;
        color: #07171d;
        transition: .2s;
    }

    .btn-switch button:hover {
        background-color: #07171d;
        color: #FB4D3D;
    }
}