@media (max-width: 85.37em) { /* Monitores HD 12 */
    .grid-container {
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    }

    .grid-container button {
        font-size: 1.4rem;    
    }
}